.frame-6,
.frame-6 * {
  box-sizing: border-box;
}
.frame-6 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.frame-8 {
  background: #edf1f5;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 910px;
  position: relative;
  overflow: hidden;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-1 {
  background: #d1d1d1;
  border-radius: 50%;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
}
.logo-name {
  color: #4f5467;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.group-12 {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: static;
}
.ellipse-12 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 33.5px;
  top: 0px;
}
.vector {
  width: 49px;
  height: 49px;
  position: absolute;
  left: 49px;
  top: 16px;
  overflow: visible;
}
.component-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 87px;
  top: 55px;
  overflow: visible;
}
.firstname-name {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dashboard {
  color: #fbaa91;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location-map {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-11 {
  background: #4f5467;
  padding: 10px 42px 10px 42px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1673px;
  height: 75px;
  position: relative;
}
.vector2 {
  flex-shrink: 0;
  width: 26.25px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.frame-14 {
  padding: 10px 32px 10px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.dashboard2 {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-12 {
  background: #edf1f5;
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-13 {
  background: #ffffff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.list-of-available-evacuation-area {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-15 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-16 {
  background: #dbdbdb;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 139px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 34px;
  position: relative;
  overflow: hidden;
}
.search {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector3 {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-17 {
  padding: 0px 64px 0px 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.status {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barangay {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-name {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.classification {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locations {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-of-rooms {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.capacity {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-18 {
  align-self: stretch;
  flex-shrink: 0;
  height: 382px;
  position: relative;
  overflow: hidden;
}
.frame-19 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.group-2 {
  background: #fbaa91;
  border-radius: 5px;
  padding: 3px 18px 3px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.next {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
